<div id="top-header">
      <div class="container">
            <p>INST377 Flores Project</p>
      </div>
</div>

<header id="main-header">
      <div class="container">
            <div class="logo-container">
                  <a href="/"
                        ><img
                              src="./images/Logo-Trans-1200px.png"
                              alt="Zen Library Logo"
                              title="Zen Library Home"
                  /></a>
            </div>
            <div class="desktop-nav">
                  <nav class="desktop-nav__menu">
                        <ul class="desktop-nav__list">
                              <li><a href="/">Home</a></li>
                              <li><a href="about">About</a></li>
                              <li><a href="quotes">Quotes</a></li>
                              <li><a href="project">Project</a></li>
                        </ul>
                  </nav>
            </div>
            <div id="mobile-nav" class="mobile-nav">
                  <span id="mobile-nav__icon" class="mobile-nav__icon"
                        ><span></span><span></span><span></span
                  ></span>
                  <nav id="mobile-nav__menu" class="mobile-nav__menu hidden">
                        <ul class="mobile-nav__list">
                              <li><a href="/">Home</a></li>
                              <li><a href="about">About</a></li>
                              <li><a href="quotes">Quotes</a></li>
                              <li><a href="project">Project</a></li>
                        </ul>
                  </nav>
            </div>
      </div>
</header>
