<form id="like-quote-<%= quoteId %>" method="POST">
      <input type="hidden" name="quoteId" value="<%= quoteId %>" />
      <button type="submit" id="like-submit-btn">
            Like <%- include("../icons/like") %>
      </button>
</form>
