<form id="unlike-quote-<%= quoteId %>" method="DELETE">
      <input type="hidden" name="quoteId" value="<%= quoteId %>" />
      <button type="submit" id="unlike-submit-btn">
            Unlike <%- include("../icons/unlike") %>
      </button>
</form>
