<div id="top-header">
      <div class="container clearfix">
            <!-- <ul class="social-icons">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">X</a></li>
					<li><a href="#">RSS</a></li>
				</ul> -->
            <p>INST377 Flores Project</p>
      </div>
</div>

<header id="main-header">
      <div class="container clearfix menu_container">
            <div class="logo_container">
                  <a href="/"
                        ><img
                              src="./images/Logo-Trans-1200px.png"
                              alt="Zen Library Logo"
                              title="Zen Library Home"
                  /></a>
            </div>
            <div id="top-navigation">
                  <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav">
                              <li><a href="about">About</a></li>
                              <li><a href="quotes">Quotes</a></li>
                              <li><a href="project">Project</a></li>
                        </ul>
                  </nav>
            </div>
      </div>
</header>
